<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
<strong>На станции:</strong>
  <% if @train.current_station %>
    <%=	@train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <% if @train.route %>
      <strong>Маршрут:</strong>
      <%= @train.route.title %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Всего вагонов:</strong>
  <%= @train.wagons.count %> <br>
  <% if @train.wagons.any? %>
      <ul>
        <li><%= "Плацкартных вагонов: #{@train.wagons_by_type(:econom).count}" %></li>
        <li><%= "Купейных вагонов: #{@train.wagons_by_type(:coupe).count}" %></li>
      </ul>
  <% else %>
      Нет вагонов. <br>
  <% end %>

  <strong>Плацкартных мест: </strong>
  <% if @train.wagons_by_type(0).any? %>
    <%= "Вверхних: #{@train.upper_places_count(:econom)} / Нижних: #{@train.lower_places_count(0)}" %>

  <% else %>
    нет мест.
  <% end %> <br>

  <strong>Купейных мест: </strong>
  <% if @train.wagons_by_type(1).any? %>
    <%= "Вверхних: #{@train.upper_places_count(:coupe)} / Нижних: #{@train.lower_places_count(1)}" %>
<% else %>
    нет мест.
<% end %>
  </p>

  <%= link_to 'Редактировать', edit_train_path(@train) %> |
  <%= link_to 'Назад', trains_path %>
