<p id="notice"><%= notice %></p>

<h1>Поезд №<%= @train.number %></h1>

<p>
<strong>На станции:</strong>
  <% if @train.current_station %>
    <%=	@train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <% if @train.route %>
      <strong>Маршрут:</strong>
      <%= @train.route.title %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<strong>Вагоны:</strong>
<p>
  <% if @train.wagons.any? %>
    <ul>
    <% @train.wagons.ordered(@train.sort_from_head).each do |wagon| %>
      <li><%= link_to "#{wagon.number}", wagon %></li>
    <% end %>
    </ul>
  <% else %>
    нет
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
