<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.user_name %></td>
  <td><%= link_to 'Просмотреть', user_ticket_path() %></td>
  <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>