<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.user_name %></td>
  <td><%= link_to t('common.show'),ticket %></td>
  <td><%= link_to t('common.delete'), ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>