<p id="notice"><%= notice %></p>

<h1>Список билетов</h1>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th>Поезд</th>
    <th>Станция отправления</th>
    <th>Станция прибытия</th>
    <th>Владелец</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= ticket.train.number %></td>
      <td><%= ticket.start_station.title %></td>
      <td><%= ticket.end_station.title %></td>
      <td><%= ticket.user_name %></td>
      <td><%= link_to 'Просмотреть', user_ticket_path(@user, ticket) %></td>
      <td><%= link_to 'Удалить', user_ticket_path(@user, ticket), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>