<p>Билет купил: <%= @ticket.user.email %></p>

<p>
  <strong>Номер:</strong>
  <%= @ticket.id %>
</p>

<p>
  <strong>Пассажир:</strong>
  <% if @ticket.user_name %>
      <%= @ticket.user_name %>
  <% else %>
      не указан
  <% end %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @ticket.train %>
      <%= @ticket.train.number %>
  <% else %>
      не указан
  <% end %>
</p>

<p>
  <strong>Станция отправления:</strong>
  <% if @ticket.start_station %>
      <%= @ticket.start_station.title %>
  <% else %>
      не указана
  <% end %>
</p>

<p>
  <strong>Станция прибытия:</strong>
  <% if @ticket.end_station %>
      <%= @ticket.end_station.title %>
  <% else %>
      не указана
  <% end %>
</p>

<p>
  <strong>Время отправления:</strong>
  <%= @ticket.start_station.departure_time(@ticket.train) %>
</p>

<p>
  <strong>Время прибытия:</strong>
  <%= @ticket.start_station.arrive_time(@ticket.train) %>
</p>

<%= link_to 'Назад', tickets_path %>