<%= form_for(@wagon) do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
      <%= f.label 'Номер вагона' %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label 'Тип вагона' %>
      <%= f.select :wagon_type, [['Плацкартный',0], ['Купейный',1]] %>
    </div>

    <div class="field">
      <%= f.label 'Количество верхних мест' %><br>
      <%= f.text_field :upper_places %>
    </div>

    <div class="field">
      <%= f.label 'Количество нижних мест' %><br>
      <%= f.text_field :lower_places %>
    </div>

    <div class="field">
      <%= f.label 'Поезд' %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>


    <div class="actions">
      <%= f.submit "#{@wagon.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>