<p id="notice"><%= notice %></p>

<h1><%= @wagon.type %> вагон №<%= @wagon.number %></h1>

<p>
<% if @wagon.lower_places %>
    <p>
      Нижних мест: <%= @wagon.lower_places %>
    </p>
<% end %>


<% if @wagon.upper_places %>
    <p>
      Верхних мест: <%= @wagon.upper_places %>
    </p>
<% end %>

<% if @wagon.side_lower_places %>
    <p>
      Нижних боковых мест: <%= @wagon.side_lower_places %>
    </p>
<% end %>

<% if @wagon.side_upper_places %>
    <p>
      Верхних боковых мест: <%= @wagon.side_upper_places %>
    </p>
<% end %>

<% if @wagon.sitting_places %>
    <p>
      Сидячих мест: <%= @wagon.sitting_places %>
    </p>
<% end %>

<strong>Поезд №:</strong>
<% if @wagon.train %>
    <%=	@wagon.train.number %>
<% else %>
    Еще не прицеплен.
<% end %> <br>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
