<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <% if @route.trains.any? %>
      <strong>Поезда на маршруте:</strong>
      <ul>
        <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
        <% end %>
      </ul>
  <% else %>
      На маршруте поездов нет.
  <% end %>
</p>

  <p>
    <strong>Станции маршрута:</strong>
    <!--рядом с каждой станцией делаем маленькую форму, -->
    <!--в которой есть только поле для ввода позиции и кнопка "сохранить". -->
    <!--Эта форма ведет либо на экшн update контроллера станций, -->
    <!--либо можно сделать отдельный экшн для этого (второй вариант предпочтительнее).-->

    <!--В html есть атрибут action, в котором и записывается url, на который надо отправить форму,
    в form_tag первым параметром задается не объект, а именно url, куда будет отправлена форма.
    А сам url мы можем получить, используюя url-хелперы, которые нам предоставляет роутинг.
    Например: form_tag update_position_station_path(@station)-->

    <table>
      <thead>
      <tr>
        <td>Название станции</td>
        <td>Позиция в маршруте</td>
        <td></td>
      </tr>
      </thead>

      <tbody>
            <% @route.railway_stations.each do |station| %>
              <tr>
                <td><%= station.title %></td>
                <td>
                <%= form_tag update_station_position_path(station) do %>
                    <!--<td>-->
                      <%= number_field_tag :position, station.position_in(@route) %>
                    <!--</td>-->
                    <%= hidden_field_tag :route_id, @route.id %>
                    <%= submit_tag 'Сохранить' %>
                <% end %>
                </td>
                <td></td>
              </tr>
            <% end %>
      </tbody>
    </table>

  </p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
